<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>
        <ul id="header__list">
          <li class="header__item">
            <i class="fa-solid fa-xmark"></i>
            <p><span class="players-results">0</span> wins</p>
          </li>
          <li class="header__item">
            <i class="fa-regular fa-circle"></i>
            <p><span class="players-results">0</span> wins</p>
          </li>
          <li class="header__item">
            <i class="fa-solid fa-scale-balanced"></i>
            <p><span class="players-results">0</span> draws</p>
          </li>
        </ul>
      </header>
      <main>
        <div id="board"></div>
        <div id="role"><span>Player 1</span></div>
      </main>
      <footer>
        <button onclick="resetBoard()">
          <i class="fa-solid fa-redo"></i>
        </button>
        <button onclick="quit()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </footer>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../script.js"></script>
  </body>
</html>
